body{
    margin:0;
    text-align: center;
    background-color: #B8FFF9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.intro{
    display: inline-block;
    position: relative;
    bottom: 50px;
    font-size: 120px;
    
    
}


    
    
hr{
    border-color: white;
    border-width: 10px;
    border-style: dotted none none;
    border-top-style: dotted;
    width: 5%;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.light-blue{
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 565px;
}

img{
    width: 230px;
    height: 230px;
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    position: relative;
    right: 40px;
    top: 2px;

}

.img2{
    margin-left: 0px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    left: 40px;
    top: 10px;
}


.last-head{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}

label{
    display: inline-block;
    width: 240px;
}
