body {
    margin: 0;
    text-align: center;
    background-image: url("pump_test.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.intro {
    display: inline-block;
    position: relative;
    bottom: 50px;
    font-size: 120px;
    color: blue;

}




hr {
    border-color: saddlebrown;
    border-width: 10px;
    border-style: dotted none none;
    border-top-style: dotted;
    width: 5%;
    margin-bottom: 50px;
    margin-top: 50px;

}

.light-blue {
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 565px;
    color: black;

}

.Def {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
}

img {
    width: 230px;
    height: 230px;
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    position: relative;
    right: 40px;
    top: 2px;

}

.img2 {
    margin-left: 0px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    left: 40px;
    top: 10px;
}


.last-head {
    margin-top: 10px;
}

a {
    background-color: #CA4246;

    /* Create the gradient. */
    background-image: linear-gradient(45deg,
            #CA4246 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

a:hover {
    animation: rainbow-text-simple-animation 0.75s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }

    40% {
        background-size: 650%;
    }

    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }

    80% {
        background-size: 650%;
    }

    100% {
        background-size: 650%;
    }
}

.head1 {
    display: inline-block;
    background-color: #CA4246;

    background-image: linear-gradient(45deg,
            #CA4246 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);

    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.head1:hover {
    animation: rainbow-text-simple-animation 0.75s ease-in forwards;
}


label {
    display: inline-block;
    width: 240px;
    background-image: white;
    font-weight: bolder;
}

.calc_button {
    background-color: black;
    border-radius: 5px;
    color: white;

}

.calc_button:hover {
    background-image: linear-gradient(to right, #2C3E50, #4CA1AF);
}

.text {
    background-color: #f3ec78;
    background-image: linear-gradient(to right, black, black);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
